.card {
  background-color: #f3f3f3;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

  width: 650px;
  height: 380px;
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 10px;
  
}

.card__left {
  background-color: #f3f3f3;
  width: 35%;
  height: 100%;
  border-radius: 10px 0 0 10px;

  display: flex;
  flex-direction: column;
}

.card__left-img-box {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card__left-img {
  width: 100%;
}

.card__right {
  height: 100%;
  width: 65%;

  color: #484946;
  padding: 15px;
}

.card__right-id-box {
  margin-bottom: 25px;
}

.card__right-id {
  margin-top: 2px;
  text-align: center;
  font-size: 16px;
}
.card__right-id-name {
  display: block;
  margin-bottom: -20px;
  font-size: 26px;
}

.card__right-detail-box {
  width: 100%;
}

.card__right-detail {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.card__right-detail-group {
  width: 100%;
  margin-bottom: 15px;
  margin-right: 10px;
}
.card__right-detail-label {
  border-bottom: 2px solid #86b8dc;
  font-size: 15px;
  text-align: left;
  
}

.card__right-detail-data {
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
}
 
.visible {
  visibility: visible;
  opacity: 1;
}

.invisible {
  visibility: hidden;
  opacity: 0;
}
